Website Uptime Monitor & Telegram Alert.json
{
  "name": "Website Uptime Monitor & Telegram Alert",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {}
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        0,
        0
      ],
      "id": "9f3bf7c6-dae0-4ebc-ab1c-e4587c7e3f4b",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "url": "https://www.github.com",
        "options": {
          "response": {
            "response": {
              "fullResponse": true,
              "responseFormat": "json"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        208,
        0
      ],
      "id": "9b1fc8c7-932e-4a23-82b0-fad4a5cb00b1",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "04d617e7-cf73-4f4f-bbd3-4a943fd5f9e3",
              "leftValue": "={{$json.statusCode}}",
              "rightValue": 200,
              "operator": {
                "type": "number",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        416,
        0
      ],
      "id": "3f2a9f28-473a-4aac-8f35-f66d39f1eead",
      "name": "If"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1VQZHh-kCvAnn8YPjWAiKqOqGy7DTGdM2KZFPzdWxmJM",
          "mode": "list",
          "cachedResultName": "Website Uptime Monitor & Telegram Alert",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1VQZHh-kCvAnn8YPjWAiKqOqGy7DTGdM2KZFPzdWxmJM/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 983798780,
          "mode": "list",
          "cachedResultName": "Offline Log",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1VQZHh-kCvAnn8YPjWAiKqOqGy7DTGdM2KZFPzdWxmJM/edit#gid=983798780"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Date": "={{$now.format('yyyy-MM-dd HH:mm')}}",
            "Website": "=https://www.github.com",
            "Status": "Offline",
            "HTTP CODE": "={{$json.statusCode}}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Date",
              "displayName": "Date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Website",
              "displayName": "Website",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Status",
              "displayName": "Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "HTTP CODE",
              "displayName": "HTTP CODE",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        624,
        96
      ],
      "id": "bf31a56a-2a9b-4462-bbac-1fed4b4f1a4e",
      "name": "Offline Log",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "qtNupNmEU4VCVfOQ",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1VQZHh-kCvAnn8YPjWAiKqOqGy7DTGdM2KZFPzdWxmJM",
          "mode": "list",
          "cachedResultName": "Website Uptime Monitor & Telegram Alert",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1VQZHh-kCvAnn8YPjWAiKqOqGy7DTGdM2KZFPzdWxmJM/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Online Log",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1VQZHh-kCvAnn8YPjWAiKqOqGy7DTGdM2KZFPzdWxmJM/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Date": "={{$now.format('yyyy-MM-dd HH:mm')}}",
            "Website": "https://www.github.com",
            "Status": "Online",
            "HTTP CODE": "={{$json.statusCode}}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Date",
              "displayName": "Date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Website",
              "displayName": "Website",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Status",
              "displayName": "Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "HTTP CODE",
              "displayName": "HTTP CODE",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        624,
        -96
      ],
      "id": "f7a2ebc2-c702-4d3e-b296-cc573b02621d",
      "name": "Online Log",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "qtNupNmEU4VCVfOQ",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "5518864435",
        "text": "=🚨 Website Offline Alert  \n🌐 Website: https://www.github.com  \n❌ Status: Offline  \n🔢 HTTP Status: {{$json.statusCode}}  \n🕒 Checked At: {{$now.format('yyyy-MM-dd HH:mm:ss')}}  \n🤖 Monitored automatically by n8n.",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        832,
        96
      ],
      "id": "64b640dd-05de-426f-b3cf-339e6ebcdec8",
      "name": "Alert Bot",
      "webhookId": "b62780f4-2b03-4a18-beef-f3b40953cb9c",
      "credentials": {
        "telegramApi": {
          "id": "GatZpB56CSKZylq1",
          "name": "🚨 Website Offline Alert bot"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Online Log",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Offline Log",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Offline Log": {
      "main": [
        [
          {
            "node": "Alert Bot",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "timeSavedMode": "fixed",
    "timezone": "Asia/Manila",
    "callerPolicy": "workflowsFromSameOwner",
    "executionTimeout": -1,
    "availableInMCP": false
  },
  "versionId": "d6c96509-243e-4f70-be6a-b4123095b541",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "8109642ab6846a9cf1618de304921f5663481ec8cdaee6a52dd360d6de75a743"
  },
  "id": "Eh5FDX74xnRfsa7R",
  "tags": []
}